body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: darkgray;
}

.game-container {
    width: 1366;
    height: 768;
    outline: 2px solid black;
    text-align: center;
}